html {
    overflow-y: auto;
    scrollbar-width: none;
    -moz-user-select: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(94, 94, 94) transparent;
}

::-webkit-resizer,
::-webkit-scrollbar-thumb {
    background: rgb(94, 94, 94);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background: 0 0;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
    display: none;
}