html {
    overflow-y: auto;
    scrollbar-width: none;
    -moz-user-select: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(94, 94, 94) transparent;
}

html::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
    display: none;
}